
   <nav>
    <div class="nav-wrapper deep-purple darken-1">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="#">Voyages</a></li>
        <li><a href="#">Catégories</a></li>
        <li><a href="#">Packs</a></li>
      </ul>
      <a href="{{ path('home') }}" class="brand-logo center"><img class="logo" src="/images/logo.png" alt=""></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        {% if app.user is empty %}
          <!-- Si l'utilisateur n'est pas connecté, il verra le lien incription et connexion -->
          <li><a href="{{ path('login') }}">Connexion</a></li>

          <li><a href="{{ path('register') }}">inscription</a></li>

        {% else %}
          <!-- Si l'utilisateur est connecté, il verra le lien de déconnexion -->
          <li><a href="{{ path('dashboard') }}">mon profil</a></li>
          <li><a href="">mon panier</a></li>
          <li><a href="{{ path('logout') }}">déconnexion</a></li>
          
        {% endif %}
        


      </ul>
    </div>
  </nav> 

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <hr>
    <li><a href="mobile.html">Mobile</a></li>
    <li><a href="#">Login</a></li>
    <li><a href="#">inscription</a></li>
  </ul>

