{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block content %}
    <h1 class="center-align mt-1">{% trans %} Who's on board {% endtrans %} ?</h1>
    <div class="container">
        <div class="divmg mt-1">
            <img class="img-100pc" src="/images/polynesia.jpg" alt="Options_travel">
        </div>
        <p> {% trans %} To add yourself to the trip, simply press the add me button {% endtrans %}.</p>
        <table class="responsive-table">
            <thead>
            <tr>
                <th> {% trans %} Lastname {% endtrans %} </th>
                <th> {% trans %} Firstname{% endtrans %} </th>
                <th>Email</th>
                <th> {% trans %} Birthday {% endtrans %} </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ app.user.lastname }}</td>
                <td>{{ app.user.firstname }}</td>
                <td>{{ app.user.email }}</td>
                <td>{{ app.user.birthday | date("d/m/Y") }}</td>
                <td>
                    <button class="waves-effect waves-light btn green"
                            id="add-user-in-traveler" {% if reservation.travelers | length > 0 %} disabled {% endif %} > {% trans %} Add me {% endtrans %} </button>
                </td>
            </tr>
            </tbody>
        </table>
        <!--separation line -->
        <h2 class="center-align pad"> {% trans %} The travellers {% endtrans %} </h2>
        <hr class="pink">
        <div class="row">
            <div class="col l12">
                {{ form_start( form ) }}
                <ul id="traveler-fields-list"
                    data-prototype="{{ form_widget(form.travelers.vars.prototype)|e }}"
                    data-widget-tags="{{ '<li></li>'|e }}"
                    data-widget-counter="{{ form.travelers|length }}">
                    {% for t in form.travelers %}
                        <li>
                            <div class="row">
                                <div>
                                    {{ form_label(t.lastname) }}
                                    {{ form_widget(t.lastname) }}
                                </div>
                                <div>
                                    {{ form_label(t.firstname) }}
                                    {{ form_widget(t.firstname) }}
                                </div>
                                <div>
                                    {{ form_label(t.email) }}
                                    {{ form_widget(t.email) }}
                                </div>
                                <div>
                                    {{ form_label(t.birthday) }}
                                    {{ form_widget(t.birthday) }}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <button type="button"
                        class="add-another-collection-widget btn btn-primary indigo"
                        data-list-selector="#traveler-fields-list"
                        id="add-traveler"> {% trans %} Add another traveler{% endtrans %}
                </button>
                <br>
                <div class="right-align">

                    <a class="btn waves-effect waves-light"
                       href="{{ path('reservation_option', {'id': reservation.stays[0].id}) }}">{% trans %} Preview {% endtrans %}

                        <i class="material-icons left">keyboard_arrow_left</i>
                    </a>
                    <button type="submit" class="waves-effect waves-light btn"
                            name="action"> {% trans %} Next {% endtrans %}
                        <i class="material-icons right">keyboard_arrow_right</i></button>
                </div>
                {{ form_end( form ) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}{{ parent() }}{{ encore_entry_script_tags('usercollection') }}{% endblock %}
