{% extends 'base.html.twig' %}

{% block title %}reservation{% endblock %}

{% block content %}
<div class="voyageurs">
    <div class ="container">
        <h1 class= "center-align">Futur Voyageurs</h1>
            <div class="coordonne">
                <div class="row">
                    <div class="col l4">
                        <h2>Vos coordonnées:</h2>
                    </div>
                    <div class="col l4">
                        <div>Nom : {{app.user.lastname}}</div>
                        <div>Prénom : {{app.user.firstname}}</div>
                        <div> né le : {{app.user.birthday | date("d/m/Y")}}</div>
                        <div>telephone: {{app.user.phone}}</div>
                    </div>
                    <div class="col l4">
                        <div>adresse : {{app.user.Address}}</div>
                        <div>complément d'adresse : {{app.user.additionalAddress}}</div>
                        <div>code postale : {{app.user.postalCode}}</div>
                        <div>Ville : {{app.user.city}}</div>
                    </div>
                </div>
            </div>
            <!--lgne de séparation -->
            <div class="ligne"></div>
            <div>
                <h2 class="center-align">Accompagnant </h2>
                {{ form_start( form ) }}
                <div class="row">
                    <div class="col l3">
                        {{ form_row(form.lastname) }}
                    </div>
                    <div class="col l3">
                        {{ form_row(form.firstname) }}
                    </div>
                    <div class="col l3">
                        {{ form_row(form.email) }}
                    </div>
                    <div class="col s3">
                        {{ form_row(form.birthday) }}
                    </div>
                </div>
                {{ form_end( form ) }} 
            </div>  
        </div>
</div>


{% endblock %}