{% extends 'base.html.twig' %}

{% block title %}reservation{% endblock %}

{% block content %}
<div class="container">
    <h1 class="center-align">Reservation</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores accusantium asperiores, at saepe obcaecati blanditiis, et eum nihil sit, debitis facere officiis. Sint voluptatem vel et pariatur a nulla explicabo.</p>
    {% if items  | length > 0 %}
    <table class="table">
        <thead>
            <tr>
                <th>nom du voyage</th>
                <th>Départ</th>
                <th>arrivé</th>
                <th>date de départ</th>
                <th>date d'arrivé</th>
                <th>prix</th>
                <th>configurer votre voyage</th>
                <th>supprimer</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
           
            <tr>
            {% for item in items %}
                <td>{{item.stays.travel.getName}}</td>
                <td>{{item.stays.depature}}</td>
                <td>{{item.stays.arrival}}</td>
                <td>{{item.stays.starDate | date("d/m/Y") }}</td>
                <td>{{item.stays.endDate  | date("d/m/Y") }}</td>
                <td>{{item.stays.price}} €</td>
                <td>
                    <a href="{{ path('reservation_configure', {'id': item.stays.id})}}" class="waves-effect waves-light btn">button</a>
                </td>
                <td>
                    <a href="{{ path('reservation_remove', {'id': item.stays.id}) }}">
                    <i class="material-icons red-text">delete_sweep</i>
                    </a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div></div>
    {% else %}
    <p>Surprise, c'est vide!</p>
    {% endif %}



    
    
  
    
</div>
  {% endblock %}


