{% extends 'base.html.twig' %}

{% block title %}reservation{% endblock %}

{% block content %}

<div class="container">
    <h1 class="center-align mt-1 "> {% trans %}Your reservation {% endtrans %}</h1>
    <div class="row">
        <div class="col l6 center-align">
            <img class= "img-100 mt-1" src="{{ items[0].stays.travel.pictures.get(0).picturename }}" alt="items[0].stays.travel.pictures.get(0).name }}" >
            <h3 class="mt-1" >
                {{ items[0].stays.depature }} -> {{ items[0].stays.arrival }}
             </h3>
                <p>{% trans %} Depature at  {% endtrans %} <strong>{{ items[0].stays.starDate |  format_datetime('full', 'none', locale='fr')}}</strong></p>
                <p>{% trans %} Arrival at  {% endtrans %} <strong>{{ items[0].stays.endDate |  format_datetime('full', 'none', locale='fr')}}</strong></p>
        </div>
        <div class="col l6">
            <h2>{{ items[0].stays.travel.name }}</h2>
            <h2>{{ items[0].stays.travel.subtitle }}</h2>
            <div class= "descriptions">
                <p>{{ items[0].stays.travel.descriptions | raw }}</p>
            </div>
            <div class="center-align">
                        <span> {% trans %} From {% endtrans %}
                        <div class="price">
                        {{ items[0].stays.price }}€
                        </div>
                <a href="{{ path('reservation_configure', {'id': items[0].stays.id})}}" class="waves-effect waves-light btn">{% trans %} Configure my travel {% endtrans %}</a>
                <a href="{{ path('reservation_remove', {'id': items[0].stays.id}) }}" class="waves-effect waves-light btn red darken-1">Remove</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}


