{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block main %}
    <div class="container bg-info p-1 mt-1">
        <h3 class="text-center text-white">Dashboard</h3>
    </div>
    {# Trips #}
    <div class="row m-3">
        <div class="col-6 bg-light p-1">
            <div class="row">
                <div class="col-3 bg-info p-3 ">
                    <a href="{{ path('easyadmin', {entity: 'Travels', action: 'list'}) }}">
                        <h3 class="text-center text-white"><i class="fas fa-plane fa-3x"></i></h3>
                    </a>
                </div>
                <div class="col-9">
                    {{ numbersOfTrips }} Voyages mis en ligne
                </div>
            </div>
        </div>
        {# Cart #}
        <div class="col-6 bg-light p-1">
            <div class="row">
                <div class="col-3 bg-danger p-3 ">
                    <h3 class="text-center text-white"><i class="fas fa-shopping-cart fa-3x"></i></h3>
                </div>
                <div class="col-9">
                    Ventes
                </div>
            </div>
        </div>
        {# Contact #}
        <div class="col-6 bg-light p-1">
            <div class="row">
                <div class="col-3 bg-primary p-3 ">
                    <a href="{{ path('easyadmin', {entity: 'Contact', action: 'list'}) }}">
                    <h3 class="text-center text-white"><i class="fas fa-envelope fa-3x"></i></h3>
                </div>
                <div class="col-9">
                   Contact
                </div>
            </div>
        </div>
        {# User #}
        <div class="col-6 bg-light p-1">
            <div class="row">
                <div class="col-3 bg-warning p-3 ">
                    <a href="{{ path('easyadmin', {entity: 'Users', action: 'list'}) }}">
                        <h3 class="text-center text-white"><i class="fas fa-user fa-3x"></i></h3>
                    </a>
                </div>
                <div class="col-9">
                    User
                </div>
            </div>
        </div>
        {# Reservation #}
        <div class="text-right">
            <h3>Reservation</h3>
        </div>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">id</th>
                <th scope="col">user_id</th>
                <th scope="col">serial</th>
                <th scope="col">price</th>
                <th scope="col">created_date</th>
                <th scope="col">lastname</th>
                <th scope="col">firstname</th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            {% for reservation in reservations | reverse %}
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.User.id }}</td>
                <td>{{ reservation.serial }}</td>
                <td>{{ reservation.price }} €</td>
                <td>{{ reservation.createdDate | date("d/m/Y") }}</td>
                <td>{{ reservation.User.lastname }}</td>
                <td>{{ reservation.User.firstname }}</td>
            </tbody>
        {% endfor %}
        </table>
    </div> 
{% endblock %}