{% extends 'base.html.twig' %}

{% block title %}{{ 'Welcome to' |trans }} {{ website }}{% endblock %}

{% block content %}

    {# Slider in partials #}
    {% include "./partials/_slider.html.twig" %}

    {# Icons #}
    <div class="row margin-top">
        <div class="col s4">
            <div class="col s3">
                <a class="btn-floating btn-large yellow lighten-1 pulse margin-left mt-1">
                    <i class="material-icons blue-text">wb_sunny</i></a>
            </div>
            <div class="col s9">
                <p class="blue-text">Le monde à portée de main<br> Des réductions négociées par nos experts </p>
            </div>
        </div>

        <div class="col s4 ">
            <div class="col s3">
                <a class="btn-floating btn-large yellow lighten-1 pulse margin-left mt-1"><i
                            class="material-icons blue-text">airplanemode_active</i></a>
            </div>
            <div class="col s9">
                <p class="blue-text">Le monde à portée de main<br> Des réductions négociées par nos experts </p>
            </div>
        </div>

        <div class="col s4 ">
            <div class="col s3">
                <a class="btn-floating btn-large yellow lighten-1 pulse margin-left mt-1"><i
                            class="material-icons blue-text">beach_access</i></a>
            </div>
            <div class="col s9">
                <p class="blue-text">Le monde à portée de main<br> Des réductions négociées par nos experts </p>
            </div>
        </div>
    </div>

    {# __________  Cattegory ______________ #}

    <div class="cards-list container">
        {% for category in categories %}
            <a href="{{ path('travel_list', { 'category': category.id }) }}">
                <div class="card 1">
                    <div class="card_image">
                        {% if category.url %}
                            <img src="{{ category.picturename }}" alt="{{ category.title }}"/>
                        {% else %}
                            <img src="/data/default.png"/>
                        {% endif %}
                    </div>
                    <div class="card_title title-white">
                    </div>
                </div>
                <h6 class="center-align">{{ category.title }}</h6>
            </a>
        {% endfor %}
    </div>

    {# Button see all categories #}
    <div class="container right-align mt-1 margin-bottom">
        <a href="{{ path('categorie_list') }}" class="waves-effect waves-light btn-large">
            <i class="material-icons right">keyboard_arrow_right</i>{% trans %}See all categories{% endtrans %}
        </a>
    </div>
    {# ______________ cards ______________ #}
    {# <div class="row">
      <div class="offset-s1 col s3">
        <div class="card">
          <div class="card-image">
            <img src="https://i.picsum.photos/id/11/200/200.jpg">
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>

      <div class="col s3">
        <div class="card">
          <div class="card-image">
            <img src="https://i.picsum.photos/id/13/200/200.jpg">
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>

      <div class="col s3">
        <div class="card">
          <div class="card-image">
            <img src="https://i.picsum.photos/id/12/200/200.jpg">
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
      </div> #}

{% endblock %}
    {% block body %}{% endblock %}
    {% block javascripts %}{{ parent() }}{{ encore_entry_script_tags('carousel') }}{% endblock %}
