{% extends 'base.html.twig' %}

{% block title %}{{ 'Welcome to' | trans }} {{ website }}{% endblock %}

{% block content %}
    <div class="container mt-1">
        {# Travel #}
        <div class="row">
            <div class="col pad l6">
                <h1>{{ travel.name }}</h1>
                <h2>{{ travel.subtitle }}</h2>
                <h3><i class="material-icons">airplanemode_active</i>
                    {{ travel.stays.get(0).getDepature() }} -> {{ travel.stays.get(0).getArrival() }}
                </h3>
            </div>
            {# Price #}
            <div class="col pad l6 grey lighten-3 mt-1 center-align">
        <span> {% trans %} From {% endtrans %} </span>
            {% set price = travel.getMinPrice() | number_format(2) %}
        <div class="price">
            {{ price }}€
        </div>
            </div>
        </div>

        <div class="col pad">
            <div class="carousel carousel-slider">
                {% for picture in travel.pictures %}
                    <a class="carousel-item" href="#"><img src="{{ picture.picturename }}" alt="{{ picture.name }}"></a>
                {% endfor %}
            </div>
        </div>

        <div class="col pad">
            <h3 class="center-align">{% trans %} Tarifs et dates {% endtrans %} </h3>
                <hr class="pink">
                <div>
                    <table>
                        <thead>
                        <tr>
                            <th> {% trans %} Depature {% endtrans %}</th>
                            <th>{% trans %} Arrival {% endtrans %}</th>
                            <th>{% trans %} Start date {% endtrans %}</th>
                            <th>{% trans %} End date {% endtrans %}</th>
                            <th>{% trans %} Price {% endtrans %}</th>
                            <th>{% trans %} Stock {% endtrans %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for stay in travel.stays | sortByField('starDate') %}
                            <tr>
                                {% if stay.stock > 1 %}
                                
                                <td>{{ stay.depature }}</td>
                                <td>{{ stay.arrival }}</td>
                                <td>{{ stay.starDate | date("d/m/Y") }}</td>
                                <td>{{ stay.endDate  | date("d/m/Y") }}</td>
                                <td>{{ stay.price }} €</td>
                                {% if stay.stock <= 10 %}
                                <td><i class="material-icons orange-text">fiber_manual_record</i></td>
                                {% else %}
                                <td><i class="material-icons green-text">fiber_manual_record</i></td>
                                {% endif %}
                                <td>
                
                                    <a href="{{ path('reservation_index', { 'stayid': stay.id }) }}"
                                       class="btn-floating btn-large waves-effect waves-light red"><i
                                                class="material-icons">{% trans %} add {% endtrans %}</i></a>
                                </td>
                                
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col l6">
                            <p>
                                <label>
                                    <i class= "material-icons orange-text">fiber_manual_record</i>
                                    <span class= "quantity">{% trans %} Limited quantity {% endtrans %}</span>
                                </label>
                            </p>
                        </div>
                        <div class="col l6">
                            <p>
                                <label>
                                    <i class= "material-icons green-text">fiber_manual_record</i>
                                    <span class= "quantity">{% trans %} Normal quantity {% endtrans %}</span>
                                </label>
                            </p>
                        </div>
                    </div>
                   
               
                                        
                    <div class="col pad">
                        <h3 class="center-align">{% trans %} Description {% endtrans %} </h3>
                            <hr class="pink">
                            <div class="descriptions"> {{ travel.descriptions | raw }} </div>
                            <div class="col">
                                <h3 class="center-align">{% trans %} Options {% endtrans %} </h3>
                                    <hr class="pink">
                                    <div>
                                        <ul class="collection">
                                            {% for option in travel.options %}
                                                <li class="collection-item">{{ option.description | raw}} 
                                                  {{ option.price }} €  
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                            </div>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}
{% block body %}{% endblock %}
{% block javascripts %}{{ parent() }}{{ encore_entry_script_tags('carousel') }}{% endblock %}
