{% extends 'base.html.twig' %}

{% block title %}contact us{% endblock %}

{% block content %}
    <div class="container ">
        <div class="contact">
            <h1 class="center-align mt-1">{% trans %} Contact us {% endtrans %}</h1>
            <p class="center-align">Pour nous contacter, veuillez remplir ce formulaire </p>
            {{ form_start( form ) }}
            <div class="row">
                <div class="col l6">
                    {{ form_label(form.lastname) }}
                    {{ form_widget(form.lastname) }}
                    <div class="errors red-text">
                        {{ form_errors(form.lastname) }}
                    </div>
                </div>
                <div class="col l6">
                    {{ form_label(form.firstname) }}
                    {{ form_widget(form.firstname) }}
                    <div class="errors red-text">
                        {{ form_errors(form.firstname) }}
                    </div>
                </div>
                <div class="col l6">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                    <div class="errors red-text">
                        {{ form_errors(form.email) }}
                    </div>
                </div>
                <div class="col l12">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description) }}
                    <div class="errors red-text">
                        {{ form_errors(form.description) }}
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-large margin-bottom">{% trans %} Send {% endtrans %}</button>
        </div>
        {{ form_end( form ) }}
    </div>
{% endblock %}
