{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block stylesheets %} {{ parent() }}
{% endblock %}

{% block content %}
<div class="exemple exemple3 test">
    <div class=" example example3 pad container bike align" id="example-3">
        <form action="{{ path('payment_charge', { 'id': reservation.id }) }}" method="post" id="payment-form" >
          {# <div class="fieldset">
            <input id="example3-name" data-tid="elements_examples.form.name_label" class="field" type="text" placeholder="Name" required="" autocomplete="name">
            <input id="example3-email" data-tid="elements_examples.form.email_label" class="field half-width" type="email" placeholder="Email" required="" autocomplete="email">
            <input id="example3-phone" data-tid="elements_examples.form.phone_label" class="field half-width" type="tel" placeholder="Phone" required="" autocomplete="tel">
          </div> #}
          <div class="fieldset">
            <div id="example3-card-number" class="field empty"></div>
            <div id="example3-card-expiry" class="field empty half-width"></div>
            <div id="example3-card-cvc" class="field empty half-width"></div>
            {# <input id="example3-zip" data-tid="elements_examples.form.postal_code_placeholder" class="field empty third-width" placeholder="94107"> #}
          </div>
          <div class="error"></div>
            <a href="" class="reset"></a>
            <input type="hidden" class="token" name="stripeToken">
          <button type="submit" data-tid="elements_examples.form.pay_button">Payer {{ amount }} €</button>
        </form>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://js.stripe.com/v3/"></script>
    <script>var stripe = Stripe('{{ publicKey }}');</script>
    {{ encore_entry_script_tags('stripe') }}
{% endblock %}
