{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block stylesheets %} {{ parent() }}

    <style>

        #formcard {
            border-radius: 2%;
            padding: 2em;
            box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
            min-width: 35%;
            margin: 20px;
        }

        @media (max-width: 800px) {
            #formcard {
                border-radius: 2%;
                padding: 2em;
                box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
                min-width: 100%;
                margin: 20px;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <h1 class="center-align mt-1">{% trans %} Validate your Reservation {% endtrans %}</h1>
    <div class="align">
        <div id="formcard" class="grey lighten-3">
            <div class="center-align">
                <h3 class="mt-1">{{ amount }} €</h3>
            </div>
            <form class="pad" action="{{ path('payment_charge', { 'id': reservation.id }) }}" method="post"
                  id="payment-form">
                <div class="row" style="display: inherit;">
                    <div id="card-element">
                    </div>
                    <!-- Used to display Element errors. -->
                    <div id="card-errors" role="alert"></div>
                </div>
                <div class="center-align">
                    <button class="waves-effect waves-light btn purple darken-4">{% trans %} Pay {% endtrans %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://js.stripe.com/v3/"></script>
    <script>var stripe = Stripe('{{ publicKey }}');</script>
    {{ encore_entry_script_tags('stripe') }}
{% endblock %}
