{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}
{% block content %}
<div class="exemple stripe car">
    <div class=" example stripe pad container bike align" id="example-3">
        <form action="{{ path('payment_charge', { 'id': reservation.id }) }}" method="post" id="payment-form" >
          <div class="fieldset">
            <div id="stripe-card-number" class="field empty"></div>
            <div id="stripe-card-expiry" class="field empty half-width"></div>
            <div id="stripe-card-cvc" class="field empty half-width"></div>
          </div>
          <div class="error"></div>
            <a href="" class="reset"></a>
            <input type="hidden" class="token" name="stripeToken">
          <button type="submit" data-tid="elements_examples.form.pay_button">Payer {{ amount }} €</button>
        </form>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://js.stripe.com/v3/"></script>
    <script>var stripe = Stripe('{{ publicKey }}');</script>
    {{ encore_entry_script_tags('stripe') }}
{% endblock %}
