{% extends 'base.html.twig' %}



{% block title %}Dashboard {% endblock %}

{% block content %}

  <h1 class="center-align">Mon profil</h1>
  <div class = "right-align">
  <i class="medium material-icons ">add_shopping_cart</i>
</div>

<div class="container">
  <div class="profil">
    <div class="row">
        <div class="col s6 m-12">
          <div class="card-panel">
            <h5 class="blue lighten-4">Civilité</h5>
            <div>
              <span>Nom: {{app.user.lastname}}</span>
            </div>
            <div>
            <span>Prénom: {{app.user.firstname}}</span>
            </div>
            <h5 class="blue lighten-4">Adresse</h5>
            <div>
              <span>Adresse: {{app.user.Address}}</span>
            </div>
            <div>
            <span>Complément d'Adresse: {{app.user.additionalAddress}}</span>
            </div>
            <div>
            <span>Code Postale: {{app.user.postalCode}}</span>
            </div>
            <div>
            <span>Numéro de téléphone: {{app.user.phone}}</span>
            </div>
            <div>
            <span>Code postale: {{app.user.postalCode}}</span>
            </div>
            <div>
            <span>Ville: {{app.user.city}}</span>
            </div>
            <div>
            <span>Pays: {{app.user.country}}</span>
            </div>
        </div>
      </div> 
      <div class="row">
        <div class="col s6 m-12">
          <div class="card-panel">
          <h5 class="blue lighten-4">email/password</h5>
          <div>
            <span>email: {{app.user.email}}</span>
          </div>
          <div>
            <span>password: ****</span>
          </div>
          <div>
            <span>Pour changer votre mot de passe en toute tranquilité, veuillez cliquer sur ce lien</span>
            <div><a id="NewPasswordLink" href="{{ path("new_password") }}">réinitialisation du mot de passe</a></div>

          </div>
        </div>
      </div> 
    </div>
  </div>
</div>
</div>




 
{% endblock %}