{% extends 'base.html.twig' %}

{% block title %}Dashboard {% endblock %}

{% block content %}

    <h1 class="center-align mt-1">{% trans %} My profil {% endtrans %}</h1>

    <div class="container pad">
        <div class="divmg mt-1">
            <img class="img-100pc" src="/images/beach.jpg" alt="Options_travel">
        </div>
        <div class="profil">
            <div class="row">
                <div class="col l6">
                    <div class="card-panel">
                        <h5 class="blue darken-4 white-text">{% trans %} Civility {% endtrans %}</h5>
                        <div>
                            <span>{% trans %} Lastname {% endtrans %}: {{ app.user.lastname }}</span>
                        </div>
                        <div>
                            <span>{% trans %} Firstname {% endtrans %}: {{ app.user.firstname }}</span>
                        </div>
                        <h5 class="blue darken-4 white-text">{% trans %} Address{% endtrans %}</h5>
                        <div>
                            <span>{% trans %} Address {% endtrans %}: {{ app.user.Address }}</span>
                        </div>
                        <div>
                            <span>{% trans %} Additional Address {% endtrans %}: {{ app.user.additionalAddress }}</span>
                        </div>
                        <div>
                            <span>{% trans %} Zip Code {% endtrans %}: {{ app.user.postalCode }}</span>
                        </div>
                        <div>
                            <span>{% trans %} Phone number {% endtrans %}: {{ app.user.phone }}</span>
                        </div>
                        <div>
                            <span>{% trans %} City {% endtrans %}: {{ app.user.city }}</span>
                        </div>
                        <div>
                            <span>{% trans %} Country {% endtrans %}: {{ app.user.country | country_name('fr') }}</span>
                        </div>
                        <div>
                            <a href="{{ path("user_edit") }}">{% trans %} Edit my profil {% endtrans %}</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col l6">
                        <div class="card-panel">
                            <h5 class="blue darken-4 white-text">Email/{% trans %} Password {% endtrans %}</h5>
                            <div>
                                <span>Email: {{ app.user.email }}</span>
                            </div>
                            <div>
                                <span>{% trans %} Password {% endtrans %}: ****</span>
                            </div>
                            <div>
                                <span>{% trans %} To change your password safely, please click on this link {% endtrans %}</span>
                                <div>
                                    <a id="NewPasswordLink" href="{{ path("new_password") }}">{% trans %} Change my password {% endtrans %}</a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}